@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #f8f9fa;
  color: #343a40;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding: 0 10px;
}

.text-centre {
  text-align: center;
}

.right {
  text-align: right;
}

.margin-10tb {
  margin: 10px auto;
}

/* Containers */
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-box {
  padding: 10px;
}

.container {
  width: 80%;
  margin: auto;
  padding: 10px;
}

/* Navbar */
nav {
  padding: 20px 0;
  border-bottom: 1px solid #343a40;
}

.link {
  color: #343a40;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

.link:hover {
  background: #343a40;
  color: #f8f9fa;
}

.admin-container {
  /* background: red; */
  padding: 0px 20px;
}

/* Blogs */

.blog-link {
  color: #007bff;
}

.image-container {
  min-width: 200px;
  min-height: 200px;
  max-width: 400px;
  max-height: 400px;
}

.blog-item-container {
  display: flex;
  flex-direction: column;
  margin: 80px auto;
  justify-content: space-between;
}

.blog-blurb {
  margin-bottom: 10px;
}

.current-blog-header {
  margin: 20px auto;
}

.current-blog-img {
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto 10px auto;
}

.back-button-container {
  margin: 20px 0;
}

.back-button {
  background: #343a40;
  color: #f8f9fa;
  padding: 5px;
  border-radius: 4px;
}

/* Preview container */
.preview-container p {
  margin: 10px auto;
}

/* SEARCH */
.search-container {
  padding: 10px 0;
}

.search-field {
  outline: none;
  padding: 5px;
}

.submit-button {
  outline: none;
  margin: 10px auto;
  background: #343a40;
  color: #f8f9fa;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 14px;
}

.clear-search-button {
  background: #dc3545;
  color: #f8f9fa;
  padding: 5px;
  border-radius: 4px;
  outline: none;
}

/* About */
.about-body {
  margin: 20px auto;
}

.about-body p {
  margin: 10px auto;
}

/* Admin */

.username-container,
.password-container {
  margin: 20px auto;
}

.username-field,
.password-field {
  padding: 4px;
  font-size: 14px;
}

.log-in-button {
  cursor: pointer;
  padding: 8px;
  background: #343a40;
  border: #343a40;
  color: #f8f9fa;
}

.log-out-button {
  outline: none;
  background: #dc3545;
  border: #dc3545;
  color: #f8f9fa;
  padding: 8px;
  cursor: pointer;
}

.error-message-container {
  margin: 20px auto;
  background: #dc3545;
  border: #dc3545;
  color: #f8f9fa;
  padding: 10px;
  width: 50%;
}

.new-blog-button {
  background: #28a745;
  border: #28a745;
  color: #f8f9fa;
  padding: 8px;
  outline: none;
  cursor: pointer;
}

.delete-blog-button {
  background: #dc3545;
  border: #dc3545;
  color: #f8f9fa;
  padding: 8px;
  outline: none;
  cursor: pointer;
}

.new-blog-container {
  background: #6c757d;
  color: #f8f9fa;
  padding: 10px;
  margin: auto;
}

.new-blog-container form div {
  margin: 50px 0;
}

.new-blog-container form div input,
.new-blog-container form div textarea {
  display: block;
  margin-top: 10px;
  padding: 8px;
  border: none;
}

.blog-title,
.blog-author {
  width: 100%;
}

.blog-content {
  width: 100%;
  height: 500px;
}

.add-new-blog-button {
  outline: none;
  cursor: pointer;
  background: #28a745;
  border: #28a745;
  color: #f8f9fa;
  width: 30%;
  margin: auto;
}

.success {
  background: #f8f9fa;
  color: #28a745;
  padding: 5px;
  text-align: center;
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .blog-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 80px;
  }
  .preview-container {
    padding: 5px 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
